html,
body {
    height: 100%;
}

body {
       
    margin: 0;
    background: linear-gradient(45deg,
    #8E2DE2, #4A00E0);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}



@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.text {
    background: linear-gradient(90deg, #e933ff, #ffb400, #ff3333, #334dff, #e933ff);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text 5s linear infinite;
    font-family: Verdana, sans-serif;
    text-align: center;
    transition: 1s linear; 
    font-size: 80px;
    font-weight: bold;
    font-family: arial;
 
    padding-top: 10%; 
  }
  
.text:hover {

-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
}  

@keyframes text {
    from {background-position: 0% center}         
    to {background-position: 200% center}
  }

